html {
    scroll-behavior: smooth;
}

* {
    font-family: "Arial", "League Spartan", "sans-serif";
    font-optical-sizing: "auto";
    font-style: "normal";
}

body {
    color: #0c4a6e;
    background-image: url("../assets/hex_grid.png");
    background-repeat: repeat;
    background-size: contain;
}

h1 {
    font-size: 2.25rem;
}

a {
    color: inherit;
}

hr {
    color: #0c4a6e;
    /* color: #38bdf8; */
}
